PORT=4000
MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster.mongodb.net/gifty-mayorista
CLIENT_URL=http://localhost:5173

# Credenciales del panel de administración
ADMIN_USER=admin
ADMIN_PASSWORD=gifty2024
ADMIN_SECRET=clave_secreta_para_firmar_token
